/* Feuille de style principale */

body {
  height: 100%;
}

.modal {
  background-image: url('../images/header-bg.png');
}

.modal-full {
  width: 90vw;
  height: 100vh;
  min-height: 100vh;
  min-width: 100%;
  margin: 0 auto;
}

.star-transparent {
  opacity: 0.5;
  background-color: #000;
}

.nav-link {
  text-transform: uppercase;
  background-position: 0 0;
}

.star-header {
  height: 100%;
  margin: 0 auto;
  width: 100%;
  background-size: cover;
}

#banner {
  height: 90vh;
  max-height: 90wh;
}

.star-centered {
  float: none;
  margin: 0 auto;
}

.star-story div, .star-story strong {
  width: 65%;
}

.star-float-image {
  width: 100%;
  margin: 0 auto;
}

.star-footer {
  width: 100%;
  height: 40vh;
  background-size: cover;
}

footer {
  background-image: url('../images/darthvader_2x.jpg');
  width: 100%;
  height: 100%;
  color: #afafaf;
  background-size: cover;
}

footer a, .modal a {
  color: #afafaf;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
  text-decoration: underline;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}

/* header */

.header {
  opacity: 0.7;
  background-image: url('/images/header-bg.png');
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #000;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.header li a:hover,
.header .menu-btn:hover {
  font-weight: bold;
}

.menu {
  width: 90%;
  margin: 0 auto;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  text-align: center;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  background: transparent;
}

.header .menu-btn:checked ~ .header {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  opacity: 1;
}

.header .menu-btn:checked ~ .menu-icon {
  float: left;
}

.header .menu-btn:checked ~ .header {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }

  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
}

@media (max-width: 48em) {
  #banner {
    visibility: hidden;
    display: none;
  }

  .header {
    opacity: 1;
  }
}
